<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOMEN</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet"
    type="text/css" />
  <link rel="stylesheet" type="text/css" href="../styles/main.css">

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="../public/icons/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tes Psikologi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Konsultasi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tentang Kami</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Hero Section 1 -->


<section class="hero-section">
  <div class="container">
    <div class="row">

      <div class="col-md-6 order-md-2 d-flex align-items-center ml-auto">
        <img src="../public/images/heros/banner.png" alt="Hero Image 1" class="img-fluid hero-img">
      </div>
       <div class="col-md-6 order-md-1 ">
        <h1 class="welcome">Selamat datang Sobat Mental,</h1>
        <h2 class="hero-writer">Atasi Masalah Kesehatan<br> 
          Mentalmu & Raih Kehidupan<br>
          yang Lebih Bahagia!</h2>
        <p class="hero-desc">
          Saatnya kita bersama-sama menghadapinya dan mengambil<br>
          langah untuk meningkatkan kualitas hidup kita.
        </p>
        <button type="button" class="btn btn-primary rounded-pill" onclick="window.location.href='../scripts/views/pages/quiz/mulai.html'">Quiz</button>
      </div>
    </div>
  </div>
</section>

<!-- Hero Section 2 -->
<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-1 d-flex align-items-center">
        <img src="../public/images/heros/hero2.png" alt="Hero Image 2" class="img-fluid hero-img">
      </div>
      <div class="col-md-6 order-md-2 d-flex align-items-center">
          <h1>Periksalah<br>Kesehatan Mentalmu</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Hero Section 3 -->
<section class="hero-section">
  <div class="container">
    <div class="row">

      <div class="col-md-6 order-md-2 d-flex align-items-center ml-auto">
        <img src="../public/images/heros/hero3.jpg" alt="Hero Image 3" class="img-fluid hero-img">
      </div>
            <div class="col-md-6 order-md-1 d-flex align-items-center">
        <h1>Konsultasi Gratis</h1>
      </div>
    </div>
  </div>
</section>


<!-- Hero Section 4 -->
<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-1 d-flex align-items-center">
        <img src="../public/images/heros/hero4.jpg" alt="Hero Image 4" class="img-fluid hero-img">
      </div>
      <div class="col-md-6 order-md-2 d-flex align-items-center">
          <h1>Temukan Bantuan<br>Di Sekitarmu</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
