p {
    margin-top: 0;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: justify;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    max-width: 400px; /* Sesuaikan lebar card sesuai kebutuhan */
}