#bodyquiz.card {
    border: 3px solid #211B3D;
    border-radius: 40px;
}

button#btnmulai {
    margin: auto;
    width: 30%;
}

label.radio-container {
    font-family: 'Poppins', sans-serif;
}

h5#labelmulai {
    margin: auto;
    font-weight: bold;
    text-align: center;
}

img#gambarmulai {
    width: 30%;
    margin: auto;
}

h2#h2hasilquiz {
    font-weight: 600;
}

img.emoticon {
    width: 50%;
}

p#phasilquiz.card-text {
    text-align: justify;
    font-size: 20px;
}

.card {
    margin: auto;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

div#cardmulai {
    width: auto;
    margin-top: 5%;
}

.radio-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  font-family: "Manrope";
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.radio-container input:checked + .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked + .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

