<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Level Stress Sedang</title>
    <link rel="stylesheet" type="text/css" href="../../../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../../../styles/hasil.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="icons/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mulai.html">Tes Psikologi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Konsultasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tentang Kami</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br><br>
    
    <div class="container">
        <div class="card text-center">
            <div class="card-body" id="cardhasil">
                <h2 class="card-title">Hasil: Tingkat Stress Anda Sedang</h2>
                <p class="card-text">Jika Anda merasa bahwa tingkat stres Anda sedang, segera lakukan langkah-langkah untuk menjaga kesehatan mental. Tetapkan rutinitas harian yang teratur, jadwalkan waktu untuk bersantai dan melakukan kegiatan yang menyenangkan. Berbicaralah dengan orang terdekat Anda atau berkonsultasilah dengan profesional kesehatan mental untuk membantu mengelola stres Anda. Ingatlah untuk menjaga keseimbangan antara pekerjaan, waktu istirahat, dan waktu untuk diri sendiri agar tetap sehat secara mental dan emosional.</p>
            </div>
        </div>
    </div>

    <!-- Share to social media section -->
    <div class="container mt-4">
        <p class="text-center">Yuk share ke media sosialmu untuk membantu teman temanmu yang membutuhkan fitur kuis ini</p>
        <div class="text-center"><br>
            <img src="icons/facebook.png" alt="Facebook Logo" style="width: 30px; margin-right: 10px;">
            <img src="icons/instagram.png" alt="Instagram Logo" style="width: 30px;">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
