<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tes Tingkat Kesehatan Mental - Soal 3</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .progress-bar {
      width: 30%;
      background-color: #2196F3;
    }
  </style>
</head>
<body class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="card p-4">
    <div class="progress mb-4">
      <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
   <h5 id="quizNumber" class="mb-4"></h5>
    <h4 id="quizQuestion" class="mb-4"></h4>
    <form id="quizForm">
      <div class="form-group">
        <label class="radio-container">Iya, lebih dari biasanya
          <input type="radio" name="q3" value="4" id="q3_option4">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group">
        <label class="radio-container">Sama saja seperti biasanya
          <input type="radio" name="q3" value="3" id="q3_option3">
          <span class="checkmark"></span>
      </label>
      </div>
      <div class="form-group">
        <label class="radio-container">Kurang dari biasanya
          <input type="radio" name="q3" value="2" id="q3_option2">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group">
        <label class="radio-container">Sangat berkurang dari biasanya
          <input type="radio" name="q3" value="1" id="q3_option1">
          <span class="checkmark"></span>
        </label>
      </div>
    </form>
    <div class="d-flex justify-content-between">
      <button class="btn btn-warning" onclick="previousPage()">Previous</button>
      <button class="btn btn-primary" onclick="nextPage()">Next</button>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Set checkbox state based on local storage
      var selectedOption = localStorage.getItem('soal3');
      if (selectedOption) {
        document.getElementById('q3_option' + selectedOption).checked = true;
      }
    });

      document.addEventListener("DOMContentLoaded", function () {
        // Fungsi untuk mengambil data pertanyaan dari file JSON
        function fetchQuestionData(questionNumber) {
          return fetch('public/data/quis.json')
            .then(response => response.json())
            .then(data => {
              // Set pertanyaan pada elemen HTML
              document.getElementById('quizNumber').textContent = 'Pertanyaan ' + questionNumber + '/10';
              document.getElementById('quizQuestion').textContent = data[questionNumber - 1].soalquiz;
            })
            .catch(error => console.error('Error fetching quiz data:', error));
        }


        fetchQuestionData(3);
      });

    function previousPage() {
      var questionNumber = 3;
      if (questionNumber > 1) {
        window.location.href = 'soal' + (questionNumber - 1) + '.html';
      } else {
        alert('Anda berada pada halaman pertama.');
      }
    }

    function nextPage() {
      var questionNumber = 3;
      var selectedOption = document.querySelector('input[name=q' + questionNumber + ']:checked');
      if (selectedOption) {
        var score3 = parseInt(selectedOption.value);
        localStorage.setItem('soal3', score3);

        if (questionNumber < 10) {
          window.location.href = 'soal' + (questionNumber + 1) + '.html';
        } else {
          // Jika ini adalah halaman terakhir (soal 10), pindah ke halaman hasil
          window.location.href = 'hasil.html';
        }
      } else {
        alert('Pilih salah satu opsi sebelum melanjutkan.');
      }
    }
  </script>
</body>
</html>
